.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}


.burger-menu {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* responsive */
@media (max-width: 768px) {
    .burger-menu {
        display: flex; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #333;
        width: 200px;
        border: 1px solid #444;
        
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
        
    }

    .nav-links.show {
        display: flex; 
    }
}

/*début todo list*/
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete {
    background-color: red;
    color: white;
}


